*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  counter-reset: list;
}
.item-child{
  background-color: aqua;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.item-child:nth-child(even){
  background-color: aquamarine;
}
.item-child::before{
  content: counter(list);
  counter-increment: list;
}
.box-parent{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: repeat(6, 1fr);
  max-width: 1170px;
  margin: 0, auto;
  height: 600px;
  /* auto-rows-> get width from minmax parameters */

  grid-gap: 20px;
  /* drid-gap: 10px 10px; alternativa */

  /* site variant primer grid-template-areas:
    'header header'
    'aside content'
    'footer footer';
  height: 100vh; */
}



.item-child:nth-child(1),
.item-child:nth-child(3){
  grid-column: span 2;
  grid-row: span 2;

}

.item-child:nth-child(2){
  grid-column: span 3;
  grid-row: span 3;
}

.item-child:nth-child(5){
  grid-column: span 2;
  grid-row: span 3;
}

.item-child:nth-child(6){
  grid-column: span 3;
  grid-row: span 2;
}

















/* site variant primer .header{
  grid-area: header;
}
.aside{
  grid-area: aside;
}
.content{
  grid-area: content;
}
.footer{
  grid-area: footer;
} */